#topo{
text-align: center;
background-color: antiquewhite;
}

body{
    background-color: aliceblue;
    background-image: url(niq.png);
    background-repeat: no-repeat;
    background-position: initial;
    background-image: repeating-linear-gradient(2);
}

#tops{
    text-align: center;
    font-size: 30px;
    background-color: rgb(8, 52, 91);
    background-size: auto 200px;
   
}

#corpo{

    text-align: center;
    background-image: url(condeb.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(9, 9, 161);
    border-radius: 30px;
    width: 300px; 
    height: 500px;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
}
    

 #bb{
    background-color: 
}

form{
    font-size: 20px;
}

#caixa{

    width: 200px;
    height: 20px;
    font-size: 16px;
     
}

#botao{
    font-size: 20px;
}